<header>
  <% logo = image_tag("logo.png", :alt => "Aikido Dojo Schuepfheim", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Gallery", gallery_path %></li>
      <li><%= link_to "Calendar", calendar_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </nav>
</header>
